<nav class="mr-40" (scroll)="NavbarFollowUser()">
    <div class="h-full grid grid-cols-3">
        <div align="center" class="h-full">
            <div class="mt-9 h-2/3">
                <a routerLink="/API/v1" routerLinkActive="active">                
                    <button class=" rounded-lg bg-red-200 w-1/2 h-4/5">
                        API
                    </button>
                </a>
            </div>            
        </div>
        <div align="center" class="h-full">
            <div class="mt-9 h-2/3">                
                <a routerLink="form" routerLinkActive="active">
                    <button class=" rounded-lg bg-red-200 w-1/2 h-4/5">
                        Forms
                    </button>
                </a>
            </div>
        </div>
        <div align="center" class="h-full">
            <div class="mt-9 h-2/3">
                <a routerLink="" routerLinkActive="active">
                    <button class=" rounded-lg bg-red-200 w-1/2 h-4/5">
                        Volver
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>
